*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #888;
    height: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 60px 300px auto 60px;
    grid-template-areas: "nav    nav      nav       nav"
                         "header header   header    header"
                         "main   main     main      aside"
                         "footer footer   footer    footer";
    gap: 10px;
    justify-content: center;
                         
}

.navegacion {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
}

.navegacion__rutas {
    width: 70%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 22px;
}

.encabezado {
    background-image: url(../img/encabezado.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

.encabezado__texto {
    font-size: 25px;
    padding-left: 20px;    
}
.btn {
    border: none;
    background-color: #0ac;
    color: #000;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
}


.principal {
    grid-area: main;
}

.tarjeta {
    width: 100%;
    padding: 15px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.tarjeta__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.tarjeta__texto {
    text-align: center;
    font-size: 32px;
}

.secundario {
    grid-area: aside;
}

.aside{
    position: relative;
    margin-top: 50px;
    text-align: center;
}
.aside__texto {
    text-align: center;
    font-size: 26px;
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    right: 0;
    top: 10px;
    color: #fff;
}
.aside__texto P {
    font-size: 18px;
}



.aside__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10PX;
}

.aside__btn {
    text-align: center;
    position: absolute;
    top:60%;
    bottom: 0;
    right: 0;
    left: 0;    
}



.pie {
    grid-area: footer;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #444;
    color: #fff;
}

.pie a {
    padding: 10px 20px;
}